{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <h1>Profile Details</h1>

    <div>
        {% if user.is_authenticated and user.pk == profile.pk or user.is_staff %}
            <a href="{% url 'add user photo' pk=object.pk %}">Add Photo</a>
            <a href="{% url 'edit user' pk=object.pk %}">Edit Profile</a>
            <a href="{% url 'delete user' pk=object.pk %}">Delete Profile</a>
        {% endif %}

        <p>{{ profile.username }}</p>
        {# TODO: fix full_name  #}
        {#        <p>First Name: {{ profile.first_name }}</p>#}
        {#        <p>Last Name: {{ profile.last_name }}</p>#}
        {% if profile.full_name %}
            <p>{{ profile.full_name }}</p>
        {% endif %}

        {% for photo in profile.userphoto_set.all %}
            <a href="{% url 'details user photo' pk=photo.pk %}">{{ photo }}</a>
        {% endfor %}
    </div>

{% endblock %}