{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <section class="profile-container">
        <div class="profile-details">
            {% if user.is_authenticated and user.pk == profile.pk or user.is_staff %}
                <ul class="special-btn">
                    <li>
                        <a href="{% url 'edit user' pk=object.pk %}">
                            <i class="fas fa-edit"></i>Edit Profile
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'delete user' pk=object.pk %}">
                            <i class="fas fa-trash-alt"></i>Delete Profile
                        </a>
                    </li>
                </ul>
            {% endif %}

            <h1>Profile Details</h1>

            <div>
                <img class="profile-pic" src="{{ profile.profile_picture.url }}" alt="{{ profile.username }}">
            </div>

            <p><span class="color">{{ profile.username }}</span></p>

            {% if profile.full_name %}
                <p class="full-name">Name: <span class="color">{{ profile.full_name }}</span></p>
            {% endif %}

        </div>

        <div class="profile-gallery">
            {% if user.is_authenticated and user.pk == profile.pk or user.is_staff %}
                <ul class="special-btn">
                    <li>
                        <a href="{% url 'add user photo' pk=object.pk %}">
                            <i class="fas fa-plus"></i>Add Photo
                        </a>
                    </li>
                </ul>
            {% endif %}
            {% if not profile.userphoto_set.all %}
                <h1>No Photos</h1>
            {% else %}
                <p><span class="color">{{ user.username }}'s</span> Photos</p>
                <ul class="user-photos">
                    {% for photo in profile.userphoto_set.all %}
                        <li class="user-photo">
                            <a href="{% url 'details user photo' pk=photo.pk %}">
                                <img src="{{ photo.photo.url }}" alt="{{ photo.description }}">
                                <p class="date">
                                    {{ photo.date_of_publication }}
                                </p>
                                <p class="description">
                                    {{ photo.description }}
                                </p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>
{% endblock %}