{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <section>
        <div class="form-container delete-form">
            <h1>
                Confirm Delete Profile
            </h1>
            {% if user.is_authenticated and user.pk == profile.pk or user.is_superuser %}
                <p class="delete-msg">
                    Are you sure you want to delete your profile?
                </p>
                <form action="{% url 'delete user' pk=object.pk %}" method="post">

                    {% csrf_token %}

                    <button type="submit">Delete Profile</button>

                    <a href="{% url 'details user' pk=object.pk %}">Go Back</a>
                </form>
            {% else %}
                <p>You can't delete someone else's profile</p>
            {% endif %}
        </div>
    </section>
{% endblock %}