{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div>
        <h1>
            Confirm Profile Deletion
        </h1>
        {% if user.is_authenticated and user == profile %}
            <p>
                Are you sure you want to delete your profile?
            </p>
            <form action="{% url 'delete user' pk=object.pk %}" method="post">

                {% csrf_token %}

                <button type="submit">Delete Profile</button>

                <a href="{% url 'details user' pk=object.pk %}">Go Back</a>

                {# TODO: Img here#}
                <img src="{% static ''%}" alt="">
            </form>
        {% else %}
            <p>You can't delete someone else's profile</p>
        {% endif %}

    </div>
{% endblock %}