.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 1000px;
}

.about-me-container div h4{
    color: #894c01;
}

.about-me-container .color {
    color: #894c01;
}

.about-me-container h3 .color{
    color: #894c01;
}

.about-me-container .end div{
    margin-bottom: 12px;
    font-size: 18px;
    color: #894c01;
    font-weight: 600;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 1000px;
}

.contacts h2 {
    padding: 12px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.contacts p {
    padding: 8px;
    font-weight: 550;
}

.contacts .color{
    color: #894c01;
}
