/* Articles */
.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    align-items: center;
}

.article-container {
    width: 380px;
    height: 560px;
    aspect-ratio: 1/1.5;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    color: white;
    border: 2px solid gray;
}

.article-container .content{
    position: absolute;
    bottom: -201px;
    left: 0;
    width: 100%;
    padding: 12px;
    transition: bottom 300ms linear;

    background: rgb(2, 0, 36);
    background: linear-gradient(
            180deg,
            rgba(2, 0, 36, 0) 0%,
            rgba(2, 0, 36, 0.7222222222222222) 30%,
            rgba(2, 0, 36, 1) 60%
    );
}

.article-container .content .title {
   bottom: 200px;
}

/*.article-container .content h3 {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(3, 1fr);*/
/*    gap: 2px;*/
/*    text-align: center;*/
/*    margin-bottom: 12px;*/
/*}*/

.article-container .content {
  height: 400px;
  overflow: hidden;
  margin-top: 10px;
}

.article-container:hover .content {
    bottom: 0;
}


.article-container a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-container h3 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 12px;
    z-index: 2;
    margin-bottom: 32px;
    color: #e2dfdf;
    text-align: center;
}

.article-container h4 {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 12px;
    z-index: 2;
    margin-bottom: 88px;
    color: #e2dfdf;
    text-align: center;
}

