/*html {*/
/*    scroll-behavior: smooth;*/
/*}*/

body {
    background-color: #070e27;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccd2e9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    font-size: 24px;
    font-weight: 800;
    background-color: #162044;
    display: flex;
    border-bottom: 3px solid #7e8bb6;
    padding: 18px 64px;
    align-items: center;
    position: sticky;
    top: 0;
    gap: 120px;
    justify-content: space-around;
}

header .nav-logo {
    margin-right: 260px;
}

/*header .logo-text a {*/
/*    color: #ccd2e9;*/
/*    text-decoration: none;*/
/*}*/
/* INSTEAD */
a {
    color: #ccd2e9;
    text-decoration: none;
    font-size: 24px;
}

ul {
    list-style: none;
}

header .navigation {
    margin-left: auto;
    margin-right: 32px;
}

header .nav-group {
    display: flex;
    list-style: none;
}

header .nav-item a {
    color: #ccd2e9;
    text-decoration: none;
    padding-right: 80px;
}

header .nav-user-item a {
    color: #ccd2e9;
    text-decoration: none;
    padding-left: 62px;
    border-radius: 16px;


}

/*Footer*/
footer {
    background-color: #162044;
    display: flex;
    border-top: 3px solid #7e8bb6;
    padding: 18px 64px;
    align-items: center;
    justify-content: space-around;
    color: #ccd2e9;
    bottom: 0;
    width: 100%;
    height: 120px;
    margin-top: auto;
}


footer .footer-icons {
    display: flex;
    gap: 48px;
    cursor: pointer;
}

footer .footer-content {
    display: flex;
    gap: 32px;
    cursor: pointer;
}

main {
    padding: 32px 64px;
}

h1, h2, h3, h4{
    padding-top: 32px;
    padding-bottom: 48px;
}
