{% load static %}
<div class="footer-container">
    <ul class="footer-icons" role="list">
        <li class="footer-icon">
            <a href="">
                <i id="icon" class="fab fa-facebook-f fa-2x"></i>
            </a>
        </li>
        <li class="footer-icon">
            <a href="">
                <i id="icon" class="fab fa-twitter fa-2x"></i>
            </a>
        </li>
        <li class="footer-icon">
            <a href="">
                <i id="icon" class="fab fa-instagram fa-2x"></i>
            </a>
        </li>
    </ul>

    <div class="footer-content">
        <p class="content">Contacts</p>
        <p class="content">Terms & Conditions</p>
        <p class="content">Privacy Policy</p>
    </div>

    <p>2023 All rights reserved</p>
</div>
