{% load static %}
<nav class="navbar">
    <div class="container">

        <div class="nav-links">
            <ul class="nav-group">
                <li class="nav-item">
                    <a href="{% url 'home' %}">
                        <i>Home Page</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'articles list' %}">
                        <i>Articles</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'gallery' %}">
                        <i>Gallery</i>
                    </a>
                </li>

                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'details user' pk=request.user.pk %}">
                            <i>Profile</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout user' %}">
                            <i>Logout</i>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login user' %}">
                            <i>Login</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'register user' %}">
                            <i>Register</i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>