{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <section class="contacts">
        <h2 class="color">Contact Me</h2>

        <p>Get in touch with me today to schedule a consultation or ask a question.</p>
        <p><span class="color">Email:</span> some@email.com</p>
        <p><span class="color">Phone:</span> (555) 555-5555</p>
        <p><span class="color">Address:</span></p>
        <p>123 Main Street</p>
        <p>Anytown, CA 91234</p>
        <p><span class="color">Hours:</span></p>
        <p>Monday-Friday: 10am-6pm</p>
        <p>Saturday: 10am-4pm</p>
        <p>Sunday: Closed</p>
    </section>
{% endblock %}