{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <section class="contacts">
        <h2>Contact Us</h2>

        <p>Get in touch with me today to schedule a consultation or ask a question.</p>
        <p>Email: some@email.com</p>
        <p>Phone: (555) 555-5555</p>
        <p>Address:</p>
        <p>123 Main Street</p>
        <p>Anytown, CA 91234</p>
        <p>Hours:</p>
        <p>Monday-Friday: 10am-6pm</p>
        <p>Saturday: 10am-4pm</p>
        <p>Sunday: Closed</p>
    </section>
{% endblock %}