{% extends 'base/base.html' %}
{% load custom_filters %}
{% block page_content %}
    <section>
        <div class="form-container">
            <form action="{% url 'edit comment art' pk=object.pk %}" method="POST">
                <h2>Edit Comment</h2>

                <div class="form-group">
                    <label for="{{ form.text.id_for_label }}">Comment:</label>
                    {{ form.text|placeholder:'Add your comment' }}
                    {% for error in form.text.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                {% csrf_token %}

                <button type="submit">Save Changes</button>
                <a href="{% url 'details photo' pk=object.photo.pk %}">Go Back</a>
            </form>
        </div>
    </section>
{% endblock %}