{% extends 'base/base.html' %}
{% block page_content %}
    <div class="article-box">
        {% if user.is_staff %}
            <ul class="special-btn">
                <li>
                    <a href="{% url 'edit article' pk=object.pk %}">
                        <i class="fas fa-edit"></i>Edit Article
                    </a>
                </li>
                <li>
                    <a href="{% url 'delete article' pk=object.pk %}">
                        <i class="fas fa-trash-alt"></i>Delete Article
                    </a>
                </li>
            </ul>
        {% endif %}

        <div class="article-content">
            <div class="article-header">
                <img class="article-main-img" src="{{ article.main_image.url }}" alt="{{ article.title }}">
                <h1 class="article-title">{{ article.title }}</h1>
            </div>

            <p class="article-byline">{{ article.byline }}</p>

            <div class="article-subtitle">
                <h2 class="article-sub-title">{{ article.sub_title }}</h2>
                <img class="article-secondary-img" src="{{ article.secondary_image.url }}" alt="{{ article.title }}">
            </div>

            <p class="article-main-text">{{ article.main_text }}</p>

            <div class="article-end">
                <img class="article-extra-img" src="{{ article.extra_image.url }}" alt="{{ article.title }}">
                <p class="article-conclusion">{{ article.conclusion }}</p>
            </div>
        </div>
    </div>
{% endblock %}