{% extends 'base/base.html' %}
{% block page_content %}
    <nav>
        <ul>
            <li><a href="{% url 'create article'%}">Create article</a></li>
        </ul>
    </nav>
    {% if not articles %}
        <h3>No Articles</h3>
    {% else %}
        <h2>Recent Articles</h2>
        <ul>
            {% for article in articles %}
                <li>
                    <a href="{% url 'details article' pk=article.pk %}">{{ article.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}