{% extends 'base/base.html' %}
{% block page_content %}
    <div class="article-container">
        {% if user.is_staff %}
            <ul class="special-btn">
                <li>
                    <a href="{% url 'edit article' pk=object.pk %}">Edit Article</a>
                </li>
                <li>
                    <a href="{% url 'delete article' pk=object.pk %}">Delete Article</a>
                </li>
            </ul>
        {% endif %}

        <h1 class="article-title">{{ article.title }}</h1>

        <img class="article-main-img" src="{{ article.main_image.url }}" alt="{{ article.title }}">

        <h2 class="article-sub-title">{{ article.sub_title }}</h2>

        <img class="article-extra-img" src="{{ article.extra_image.url }}" alt="{{ article.title }}">

        <p class="article-content">{{ article.main_text }}</p>
    </div>
{% endblock %}