{% extends 'base/base.html' %}
{% block page_content %}
    <div>
        {% if user.is_staff %}
            <ul class="special-btn">
                <li><a href="{% url 'create article' %}">Create article</a></li>
            </ul>
        {% endif %}

        {% if not articles %}
            <h3>No Articles</h3>
        {% else %}
{#            <ul class="articles">#}
{#                {% for article in articles %}#}
{#                    <li class="article-container">#}
{#                        <a href="{% url 'details article' pk=article.pk %}">#}
{#                            <img src="{{ article.main_image.url }}" alt="{{ article.title }}">#}
{#                            <h3>{{ article.title }}</h3>#}
{#                        </a>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}

            <ul class="articles">
                {% for article in articles %}
                    <li class="article-container">
                        <a href="{% url 'details article' pk=article.pk %}">
                            <img src="{{ article.main_image.url }}" alt="{{ article.title }}">
                            <div class="content">
                                <h3 class="title">{{ article.title }}</h3>
                                <h4 class="subtitle">{{ article.sub_title }}</h4>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}