{% extends 'base/base.html' %}
{% block page_content %}
    <div class="photo-details">
        {% if user.is_superuser %}
            <ul class="special-btn">
                <li>
                    <a href="{% url 'edit photo' pk=object.pk %}">
                        <i class="fas fa-edit"></i>Edit Photo
                    </a>
                </li>

                <li>
                    <a href="{% url 'delete photo' pk=object.pk %}">
                        <i class="fas fa-trash-alt"></i>Delete Photo
                    </a>
                </li>
            </ul>
        {% endif %}

        <div class="photo-content">
            <span class="photo-img">
                <img src="{{ photo.photo.url }}" alt="{{ photo.description }}">
            </span>
            <p class="date">
                {{ photo.date_of_publication }}
            </p>
            <p class="description">
                {{ photo.description }}
            </p>
        </div>

        <div>
            <form class="comment-form" action="{% url 'comment art photo' pk=photo.pk %}" method="POST">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button class="comment-btn" type="submit">Comment</button>
            </form>
        </div>

        <div class="comment-container">
            {% for comment in comments %}
                <div class="comment">
                    <div>
                        <a href="{% url 'details user' pk=comment.user.pk %}">
                            <span class="color">{{ comment.user }}</span>
                        </a>
                        <span>
                            {{ comment.date_time_of_publication }}
                        </span>
                    </div>
                    <p>{{ comment.text }}</p>
                </div>

                {% if user.is_authenticated and user == comment.user or user.is_superuser %}
                    <div class="special-btn">
                        <a href="{% url 'edit comment art' pk=comment.pk %}">
                            <i class="fas fa-edit"></i>Edit
                        </a>
                        <a href="{% url 'delete comment art' pk=comment.pk %}">
                            <i class="fas fa-trash-alt"></i>Delete
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}