{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div>
        {% if user.is_staff %}
            <ul>
                <li><a href="{% url 'add photo' %}">Add photo</a></li>
            </ul>
        {% endif %}
        {% if not photos %}
        <h3>No Photos</h3>
    {% else %}
        <h2>Recent Photos</h2>
        <ul>
            {% for photo in photos %}
                <li>
                    <a href="{% url 'details photo' pk=photo.pk %}">{{ photo.photo }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}