{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div>
        {% if user.is_staff %}
            <ul class="special-btn">
                <li><a href="{% url 'add photo' %}"><i class="fas fa-plus"></i>Add photo</a></li>
            </ul>
        {% endif %}
        {% if not photos %}
            <h3>No Photos</h3>
        {% else %}
            <ul class="art-photos">
                {% for image in photos %}
                    <li class="art-photo">
                        <a href="{% url 'details photo' pk=image.pk %}">
                            <img src="{{ image.photo.url }}" alt="{{ image.description }}">
                            <p class="date">
                                {{ image.date_of_publication }}
                            </p>
                            <p class="description">
                                {{ image.description }}
                            </p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}