{% extends 'base/base.html' %}
{% block page_content %}
    <div>
        <h2>Add photo</h2>
        {% if user.is_authenticated and user.pk == request.user.pk %}
            <form class="form" action="{% url 'add user photo' pk=request.user.pk %}" method="POST" enctype="multipart/form-data">

                {{ form.as_p }}

                {% csrf_token %}

                <button type="submit">Add Photo</button>

                <a class="anchor_button" href="{% url 'details user' pk=request.user.pk %}">Go Back</a>
            </form>
        {% endif %}
    </div>
{% endblock %}