{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div>
        {% if not user_photos %}
            <h3>No Photos</h3>
        {% else %}
            <h2>Recent Photos</h2>
            <ul>
                {% for user_photo in user_photos %}
                    <li>
                         <a href="{% url 'details user photo' pk=user_photo.pk %}">{{ user_photo.photo }}</a>
                    </li>

                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}