{% extends 'base/base.html' %}
{% load custom_filters %}
{% block page_content %}
    <section>
        <div class="form-container">
            <h2>Add photo</h2>
            {% if user.is_authenticated and user.pk == request.user.pk %}
                <form class="form" action="{% url 'add user photo' pk=request.user.pk %}" method="POST"
                      enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="{{ form.description.id_for_label }}">Description: </label>
                        {{ form.description|placeholder:'Enter your description' }}
                        {% for error in form.description.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.photo.id_for_label }}">Photo</label>
                        {{ form.photo }}
                        {% for error in form.photo.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>

                    {% csrf_token %}

                    <button type="submit">Add Photo</button>

                    <a href="{% url 'details user' pk=request.user.pk %}">Go Back</a>
                </form>
            {% endif %}
        </div>
    </section>
{% endblock %}