{% extends 'base/base.html' %}
{% block page_content %}
    <div>
        {% if request.user.is_staff or object.user.pk == request.user.pk %}
            <form action="{% url 'delete user photo' pk=object.pk %}" method="POST">
                <h2>Delete Photo</h2>

                {% csrf_token %}

                <button type="submit">Delete Picture</button>

                <a class="anchor_button" href="{% url 'details user' pk=object.user.pk %}">Go to Profile</a>
            </form>
        {% else %}
            <h3>You can't delete this photo</h3>
        {% endif %}
    </div>
{% endblock %}