{% extends 'base/base.html' %}
{% block page_content %}
    <div>
        {% if not user_photos %}
            <h3>No Photos</h3>
        {% else %}
            <ul class="user-photos">
                {% for user_image in user_photos %}
                    <li class="user-photo">
                        <a href="{% url 'details user photo' pk=user_image.pk %}">
                            <img class="user-img" src="{{ user_image.photo.url }}" alt="{{ user_image.user.username }}">
                            <div class="meta-info">
                                <div class="user-icon">
                                    <img src="{{ user_image.user.profile_picture }}"
                                         alt="{{ user_image.user.username }}">
                                </div>
                            </div>
                            <p class="username">
                                {{ user_image.user.username }}
                            </p>
                            <p class="date">
                                {{ user_image.date_of_publication }}
                            </p>
                            <p class="description">
                                {{ user_image.description }}
                            </p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% include 'base/partials/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}